@import '../../../styles.less';

.switch-item {
    display: flex;
    flex: 1;
    justify-content: center;
    background: @primary-color-dark;
    border-radius: 20px;

    .services {
        display: flex;
        flex: 1;
        background-color: white;
    }
}