<div class="about-us-container">
  <div class="main-content">
    <div class="title">
      <h1>¡PymesApp!</h1>
      <p>PymesApp es la plataforma ideal para conectar a clientes con pequeñas y medianas empresas (Pymes) de manera
        eficiente y sencilla. Aquí puedes encontrar y gestionar servicios, ya seas un cliente o una Pyme.</p>
    </div>
    <div class="info-content">
      <h2>Sobre PymesApp</h2>
      <p>PymesApp es una empresa joven pero con un fuerte compromiso hacia la calidad y la seguridad. Aunque somos nuevos
        en el mercado, estamos dedicados a ofrecer una plataforma robusta y segura para que tanto clientes como Pymes
        puedan interactuar de manera confiable.</p>
      <p>Nos enorgullecemos de nuestra capacidad para manejar grandes volúmenes de información con eficiencia y
        confidencialidad. Utilizamos las últimas tecnologías para garantizar que todos los datos sean almacenados de
        manera segura, protegiendo la privacidad y los intereses de nuestros usuarios.</p>
      <p><strong>Nuestra Misión:</strong> Conectar a clientes con Pymes de manera segura, rápida y eficiente, facilitando
        el acceso a servicios de calidad y apoyando el crecimiento de las pequeñas y medianas empresas.</p>
      <p><strong>Nuestra Visión:</strong> Convertirnos en la plataforma líder en la conexión entre clientes y Pymes,
        conocida por su confiabilidad, seguridad y compromiso con el éxito de todos nuestros usuarios.</p>
    </div>
  </div>
  <div class="users-container">
    <div class="info-content left">
      <h2>¿Eres un Cliente?</h2>
      <p>Como cliente, puedes crear tu perfil, solicitar servicios, gestionar tus solicitudes y verificar su estado.
        Además, tienes acceso a detalles completos sobre los servicios y las Pymes que los ofrecen.</p>
      <p><strong>Beneficios para Clientes:</strong></p>
      <ul>
        <li>Acceso fácil y rápido a una amplia gama de servicios ofrecidos por Pymes.</li>
        <li>Posibilidad de evaluar y dejar comentarios sobre los servicios recibidos.</li>
        <li>Transparencia total en el seguimiento del estado de tus solicitudes.</li>
      </ul>
    </div>
  
    <div class="info-content right">
      <h2>¿Eres una Pyme?</h2>
      <p>Si eres una Pyme, puedes crear y gestionar tus servicios, además de editar la información de los mismos. También
        puedes ver y gestionar las solicitudes que los clientes hacen para tus servicios.</p>
      <p><strong>Beneficios para Pymes:</strong></p>
      <ul>
        <li>Herramientas para gestionar eficazmente las solicitudes y optimizar el tiempo de respuesta.</li>
        <li>Flexibilidad para actualizar y mejorar tus servicios en cualquier momento.</li>
        <li>Acceso a comentarios y valoraciones que te ayudarán a mejorar la calidad de tus servicios.</li>
      </ul>
    </div>
  </div>

</div>